.elements__card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: end;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}