.header {
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
    flex-direction: column;
    margin: 40px 200px;
    justify-content: center;

}

@media screen and (max-width: 900px) {
    .header {
      margin: 0 100px;
    }
}


@media screen and (max-width: 712px) {
    .header {
      margin: 0 50px;
    }
}

@media screen and (max-width: 570px) {
    .header {
      margin: 0 100px;
    }
}

@media screen and (max-width: 493px) {
  .header {
    margin: 0 50px;
  }
}
@media screen and (max-width: 371px) {
  .header {
    margin: 0;
  }
}