.profile__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-area: subtitle;
    margin: 0 0 20px 0;
}


@media screen and (max-width: 570px) {
    .profile__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    }
}
