.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    width: 296px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    grid-area: title;
    margin: 20px 0 0 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 570px) {
    .profile__title {
    font-size: 27px;
    line-height: 33px;
    width: 250px;
    }
}

@media screen and (max-width: 371px) {
    .profile__title {
    width: 200px;
    margin: 25px 0 0 25px;
    }
}
