.elements {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 22px 15px;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0;
}

@media screen and (max-width: 570px) {
    .elements {
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width: 371px) {
    .elements {
    margin-top: 35px;
    gap: 20px;
    }
}
