.elements__text {
margin: 24px 30px 24px 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}



@media screen and (max-width: 718px) {
    .elements__text {
        margin: 24px 0 24px 20px;
    }
}
@media screen and (max-width: 371px) {
    .elements__text:last-child {
        margin: 25px 40px 25px 20px;
        display: none;
    }
   
}
