.profile__info {
    display: grid;
    position: relative;
    align-items: end;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "title button"
    "subtitle subtitle";
}