.footer {
    margin:50px 200px;
}

@media screen and (max-width: 900px) {
    .footer {
      margin: 0 100px;
    }
}


@media screen and (max-width: 712px) {
    .footer {
      margin: 0 50px;
    }
}


@media screen and (max-width: 570px) {
    .footer {
      margin: 0 100px;
    }
}

@media screen and (max-width: 493px) {
  .footer {
    margin: 0 50px;
  }
}
@media screen and (max-width: 371px) {
  .footer {
    margin: 30px 19px;
  }
}