.profile__buttonimg {
    background-color:transparent;
    object-fit: cover;    
}
@media screen and (max-width: 371px) {
    .profile__buttonimg {
   width: 15px;
   height: 15px;
   
    }
     }

     @media screen and (max-width: 371px) {
        .profile__buttonimg {
       width: 7px;
       height: 7px;
       
        }
         }
    
    